input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
}

body {
  background-color: rgb(216, 237, 255);
}

.card {
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

.cardList {
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 7%;
  margin-top: 15px;
}

.BtnRemove {
  background-color: #ff4d4d;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BtnRemove:hover {
  background-color: #ff1a1a;
}

.BtnRemove:active {
  background-color: #cc0000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.divLogout {
  text-align: center;
}